# Panda Data Processing.

In [1]:
import pandas as pd

df = pd.read_csv('01olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

ImportError: No module named pandas

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [14]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
# about the assignment formats, check out the discussion forums for any FAQs
answer_zero()

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [15]:
def answer_one():
    return df['Gold'].idxmax()
answer_one()

'United States'

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [16]:
def answer_two():
    max_gold=df['Gold']-df['Gold.1']
    return max_gold.idxmax()

answer_two()

'United States'

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [17]:
def answer_three():
    df_gold_both = df[(df['Gold'] > 0) & (df['Gold.1'] > 0)].copy()  # copy word is important.  Without that you will get warning.
    df_gold_both['HighestGoldNormalized']=((df_gold_both['Gold']-df_gold_both['Gold.1'])/
                                       (df_gold_both['Gold']+df_gold_both['Gold.1']+df_gold_both['Gold.2']))    
    return df_gold_both['HighestGoldNormalized'].idxmax()

answer_three()

'Bulgaria'

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [18]:
def answer_four():
    df['MedalWeightage']=(
                        (df['Gold']+df['Gold.1']+df['Gold.2']) * 3 +
                        (df['Silver']+df['Silver.1']+df['Silver.2']) * 2 +
                        (df['Bronze']+df['Bronze.1']+df['Bronze.2']) * 1
                     )
    return df['MedalWeightage']

answer_four()

Afghanistan                             4
Algeria                                54
Argentina                             260
Armenia                                32
Australasia                            44
Australia                            1846
Austria                              1138
Azerbaijan                             86
Bahamas                                48
Bahrain                                 2
Barbados                                2
Belarus                               308
Belgium                               552
Bermuda                                 2
Bohemia                                10
Botswana                                4
Brazil                                368
British West Indies                     4
Bulgaria                              822
Burundi                                 6
Cameroon                               24
Canada                               1692
Chile                                  48
China                                2240
Colombia                               58
Costa Rica                             14
Ivory Coast                             4
Croatia                               134
Cuba                                  840
Cyprus                                  4
                                    ...
Spain                                 536
Sri Lanka                               8
Sudan                                   4
Suriname                                8
Sweden                               2434
Switzerland                          1260
Syria                                  12
Chinese Taipei                         64
Tajikistan                              8
Tanzania                                8
Thailand                               88
Togo                                    2
Tonga                                   4
Trinidad and Tobago                    54
Tunisia                                38
Turkey                                382
Uganda                                 28
Ukraine                               440
United Arab Emirates                    6
United States                       11368
Uruguay                                32
Uzbekistan                             76
Venezuela                              36
Vietnam                                 8
Virgin Islands                          4
Yugoslavia                            342
Independent Olympic Participants        8
Zambia                                  6
Zimbabwe                               36
Mixed team                             76
Name: MedalWeightage, dtype: int64

In [19]:
type(answer_four())

pandas.core.series.Series

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

This doc has all information for different SUMLEV, which stands for summary level.
http://www.census.gov/programs-surveys/popest/guidance-geographies/terms-and-definitions.html

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [2]:
census_df = pd.read_csv('01census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [21]:
def answer_five():
    # groupby_state=census_df.groupby(census_df['STATE'])  >> This one groups every column.  We don't want that.
    # SUMLEV: 050: State-County - the primary legal subdivision of every state except Alaska and Louisiana
    county_data=census_df[census_df['SUMLEV']==50]
    groupby_state=county_data.groupby(by=['STATE'])['COUNTY'].count()
    st_name=census_df[census_df['STATE']==groupby_state.idxmax()]
    return st_name['STNAME'].unique()[0]
answer_five()

'Texas'

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [22]:
def answer_six():        
    unique_st = census_df['STNAME'].unique()
    poptotal=[]
    county_data=census_df[(census_df['SUMLEV'] == 50) & (census_df['STNAME'] != 'District of Columbia')].copy()
    county_data.reset_index()
    county_data.sort_values(['STNAME','CENSUS2010POP'], ascending=[True,False], inplace=True)
    county_data.set_index(['STNAME','CTYNAME'], inplace=True)
    county_data
    #df3.loc[state].iloc[1]['CENSUS2010POP'] 

    for st in unique_st:
        if (st != 'District of Columbia'):
            total = (county_data.loc[st].iloc[0]['CENSUS2010POP'] +
                     county_data.loc[st].iloc[1]['CENSUS2010POP'] +
                     county_data.loc[st].iloc[2]['CENSUS2010POP'] )
            poptotal.append([total, st])

    topcounty = sorted(poptotal, key=lambda x: x[0], reverse=True)
    top3 = [topcounty[0][1], topcounty[1][1], topcounty[2][1]]
    return top3

answer_six()

['California', 'Texas', 'Illinois']

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.


*This function should return a single string value.*

In [23]:
def answer_seven():
    county_data=census_df[census_df['SUMLEV']==50]

    highest_change_county=''
    highest_diff=0
    
    for row in county_data[['CTYNAME','POPESTIMATE2010','POPESTIMATE2011'
                            ,'POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014'
                            ,'POPESTIMATE2015']].itertuples():    
        diff = [abs(row[7]-row[2]),abs(row[7]-row[3]),abs(row[7]-row[4]),
                abs(row[7]-row[5]),abs(row[7]-row[6])]
        if (max(diff) > highest_diff):
            highest_diff=max(diff)
            highest_change_county=row[1]
            #print("highest county is {} with count of {}".format(highest_change_county, highest_diff))
            #print ("diff is {}".format(max(diff)))

    #print ('county is {} diff is {}'.format(highest_change_county, highest_diff))
    return highest_change_county

answer_seven()

'Harris County'

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [24]:
def answer_eight():
    pattern = r'Washington'
    reg=census_df[(((census_df['REGION'] == 1) | (census_df['REGION'] == 2)) 
                   & (census_df['CTYNAME'].str.contains(pattern)) 
                   & (census_df['POPESTIMATE2015'] > census_df['POPESTIMATE2014']))]
    return reg[['STNAME','CTYNAME']]
    
answer_eight()

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County